<div class="card w-100 my-5">
    <div class="card-body">
        <h1 class="card-title text-center">Formulário de Usuário</h1>
        <form>
            <div class="row my-4">
                <div class="form-floating mb-3 w-50">
                    <input type="text" class="form-control" id="nome" placeholder="Digite seu nome: ">                    
                    <label class="mx-2" for="nome">Nome</label>
                </div>
                <div class="form-floating mb-3 w-50">
                    <input type="text" class="form-control" id="sobrenome" placeholder="Digite seu sobrenome: ">                    
                    <label class="mx-2" for="sobrenome">Sobrenome</label>
                </div>
                <div class="form-floating mb-3 w-50">
                    <input type="number" class="form-control" id="idade" placeholder="Digite sua idade: ">                    
                    <label class="mx-2" for="Idade">Idade</label>
                </div>
                <div class="form-floating mb-3 w-50">
                    <input type="text" class="form-control" id="profissao" placeholder="Digite sua profissão: ">                    
                    <label class="mx-2" for="profissao">Profissão</label>
                </div>
            </div>
            <div class="row my-4">
                <div class="form-group col-12 mt-4">
                    <button type="button" class="btn btn-outline-danger float-start">Cancelar</button>
                    <button type="button" class="btn btn-success float-end">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>