*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a{
    text-decoration: none;
}

div img{
    display: block;
} 

.flex-container{
    display: flex;
    max-width: 992px;
    width: 100%;
    margin: auto;
    min-width: 320px;
}

/* Header */
header{
    background-color: #122a57;
    height: 100px;
    display: flex;
    align-items: center;
    color: #fff;
}

header .menu{
    justify-content: space-between;
}

header .list-itens{
    display: flex;
    width: 100%;
    max-width: 260px;
    justify-content: space-between;
    align-items: center;
}

.list-itens li a{
    color: #fff;
}

/* Apresentação */
.apresentacao{
    height: 65vh;
    align-items: center;
    justify-content: space-between;
}

.apresentacao .texto-apresentacao{
    min-height: 200px;
    width: 100%;
}

.apresentacao .texto-apresentacao h1{
    color: #122a57;
    font-size: 48px;
    margin-bottom: 10px;
}

.btn{
    background-color: #122a57;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Quem Somos */
#quem-somos{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

#quem-somos h2{
    font-size: 32px;
    color: #122a57;
    display: flex;
}

#quem-somos h2::before{
    content: "";
    height: 35px;
    width: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    background-color: #122a57;
    position: relative;
}

#quem-somos p{
    margin-bottom: 10px;
    width: 90%;
}

#quem-somos img{
    min-width: 420px;
}

/* Serviços */

.container-externo{
    background-color: #122a57;
    width: 100%;
}

#servicos{
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
}

#servicos h2{
    color: #fff;
    font-size: 32px;
    margin-bottom: 20px;
}
.list-servicos{
    display: flex;
    justify-content: space-between;
}

.list-servicos .item-servico{
    text-align: center;
}

.item-servico a{
    width: 220px;
    background-color: #fff;
    border-radius: 30px;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    padding: 5px 10px;
    line-height: 50px;
    color: #122a57;
    font-size: 12px;
    text-decoration: none;
    font-weight: 700;
}

.item-servico p{
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    margin-top: 20px;
}

.item-servico img{
    width: 80%;
    margin: auto;
}

/* Planos */

#planos{
    flex-direction: column;
    min-height: 60vh;
    padding-top: 50px;
}

#planos h2{
    font-size: 32px;
    margin-bottom: 20px;
}

.list-planos{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.item-planos{
    flex: 1;
    border: 5px solid #122a57;
    margin-right: 20px;
    padding: 10px;
    max-width: 220px;
}

.item-planos .btn{
    margin: auto;
    margin-bottom: 20px;
}

.item-planos h3{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.item-planos h3::after{
    content: '';
    background-color: #122a57;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.item-planos ul{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.item-planos ul li{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.item-planos ul li::before{
    content: '';
    width: 10px;
    height: 10px;
    background-color: #122a57;
    margin-right: 5px;
}

/* Footer */

footer{
    background-color: #122a57;
    height: 70px;
    display: flex;
    align-items: center;
}

footer .footer{
    justify-content: space-between;
    color: #fff;
}

/* Mobile */

@media(max-width: 992px){
    * h1, h2, h3, a, p{
        margin-left: 10px;
    }

    div .img{
    width: 100%;
    }

    .flex-container{
        flex-direction: column;
    }

    .apresentacao{
       flex-direction: column-reverse;
       height: 50%;
    }

    .apresentacao .texto-apresentacao{
        width: 100%;
    }

    #quem-somos{
        flex-direction: column-reverse;
    }
    
    #quem-somos img{
        min-width: 320px;
        margin: auto;
    }

    .list-servicos{
        flex-direction: column;
    }

    .item-servico{
        padding: 10px 0;
    }

    .list-servicos img{
        width: 50%;
        margin: auto;
    }

    .list-planos{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .list-planos .item-planos{
        max-width: 90%;
        margin: auto;
        width: 80%;
        margin-bottom: 20px;
    }

}